<!-- Main Navigation -->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar">
    <div class="container-fluid fixed-top" style="background-color: mintcream">

      <!-- Brand -->
      <a class="navbar-brand" routerLink="home">
        <img src="assets/logo.png" width="240">
      </a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Right -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a routerLink="product" class="nav-link"> <!--class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="true"-->
              <p>Products</p>
            </a>
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#!">Action</a>
              <a class="dropdown-item" href="#!">Another action</a>
              <a class="dropdown-item" href="#!">Something else here</a>
            </div>-->
          </li>
          <li class="nav-item">
            <a routerLink="contact" class="nav-link waves-effect" routerLinkActive="active">
              Contact
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="sign-in" class="nav-link waves-effect" routerLinkActive="active">
              Sign in
            </a>
          </li>
          <li class="nav-item pl-2 mb-2 mb-md-0">
            <a routerLink="sign-up" type="button"
               class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light" routerLinkActive="active">Sign
              up</a>
          </li>
        </ul>

      </div>
      <!-- Links -->
    </div>
  </nav>
  <!-- Navbar -->

  <div class="jumbotron jumbotron-image color-grey-light"
       style="background-image: url('../../../assets/principalimage.jpg'); height: 400px;">
    <div class="mask rgba-black-strong d-flex align-items-center h-100">
      <div class="container text-center white-text py-5 ">
        <br><br><br><br><br><br>
        <h1 class="mb-3" style="color: crimson"><strong>PC TECHNOLOGY</strong></h1>
        <p class="mb-0" style="color: crimson">BE UPDATED.</p>
      </div>
    </div>
  </div>

</header>
<!-- Main Navigation -->
<router-outlet></router-outlet>
