<!-- Classic tabs -->
<div class="card">
<div class="classic-tabs border rounded px-4 pt-1">

  <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false" (click)="close()">Close</a>
    </li>
  </ul>
  <div class="tab-content" id="advancedTabContent">
    <br>
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
      <div class="card-title text-xl-center"><h5 style="font-size: 34px"><strong>{{product.productName}}</strong></h5></div>
      <div class="img align-content-lg-center">
        <br>
        <img [src]="getImg()" alt="Product image" style="margin: auto !important;" width="500px" height="500px">
        <br>
      </div>
      <table class="table table-striped table-bordered mt-3" style="align-items: center">
        <thead>
        <tr>
          <td scope="row" class="w-150 dark-grey-text h6" style="color: white; background-color: #2dc997; font-size: 25px;" ><strong>PRICE: </strong></td>
          <td><em>Bs. {{product.pricePerUnit | currency}}</em></td>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="w-150 dark-grey-text h6" style="color: white; background-color: #2dc997; font-size: 25px;"><strong>Product description:</strong></th>
            <td><em><p class="pt-1 product-detail" style="font-size: 15px; text-align: justify">{{this.description}}</p></em></td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
      <div class="card-title text-xl-center"><h5 style="font-size: 34px"><strong>{{product.productName}}</strong></h5></div>
      <div class="img align-content-lg-center">
        <br>
        <img [src]="getImg()" alt="Product image" style="margin: auto !important;">
        <br>
      </div>
      <h5 class="text-xl-center">Additional Information</h5>
      <table class="table table-striped table-bordered mt-3" style="align-items: center">
        <thead>
        <tr>
          <th scope="row" class="w-150 dark-grey-text h6" style="color: white; background-color: #2dc997"><strong>Product model</strong></th>
          <td><em>{{product.productName}} {{product.model}}</em></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" class="w-150 dark-grey-text h6" style="color: white; background-color: #2dc997"><strong>Stock</strong></th>
          <td><em>Only {{product.stock}} left!</em></td>
        </tr>
        <tr>
          <th scope="row" class="w-150 dark-grey-text h6" style="color: white; background-color: #2dc997;"><strong>Weight</strong></th>
          <td><em>{{product.weight}}</em></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
<!-- Classic tabs -->
